# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    environment:
      name: python-publish
      url: https://pypi.org/p/openneuro-py

    permissions:
      id-token: write  # mandatory for trusted publishing

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install uv and Python
      uses: astral-sh/setup-uv@v7
    - name: Check if package can be installed and imported
      run: uv run --isolated --with . --no-project -- python -c "import openneuro"
    - name: Check if CLI works
      run: uv run --isolated --with . --no-project -- openneuro-py --help
    - name: Build package for distribution
      run: uv build
    - name: Publish package
      run: uv publish
